<h1 style="font-size: 2rem; text-align: center; padding: 2rem 0 0.3rem">{{site.title}}
</h1>

<div style="background:#f0f0f0; padding: 1em 0 1em;">
<h3 style="text-align: center; margin: 0; line-height: 2;">
    {% for item in site.navigation %}
    {% assign current = nil %}
    {% if page.url == item.url %}
    {% assign current = 'nav-current' %}
    {% endif %}
    <span>&#160;&#9826;&#160;<a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a></span>
    {% endfor %}
</h3>
</div>

